body{

background: green;
border: 2px solid black;
text-decoration: 80px white center arial ;
}

.point:hover{border: 1px solid red;

}
@media (min-width: 700px) {
    .container {
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr;
      grid-template-areas: 
      "header header header"
      "aside body aside "

    }
.point1{
  background: green;  
  border: red solid 1px;  
  text-align: center;
}
.point2{
  background: blue;
  border: black solid 1px;
  text-align: center;
}
.point3{
   background: red;
   border: blue dotted 3px;
   text-align: center;
}
.container{
  margin-left: 30%;
  margin-right: 30%

}